header {
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #162629;
    padding: 20px 0 10px 0;
  }
}
