.staff {
  .swiper {
    position: relative;
    height: 700px;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    position: relative;
    left: 125px;
    .staff__info {
      opacity: 0;
      @media (max-width: 720px) {
        transition: 1s all;
      }
    }
    @media (max-width: 720px) {
      justify-content: center;
      left: 0;
    }
    img {
      width: 255px !important;
      @media (max-width: 1250px) {
        width: 220px !important;
      }
      @media (max-width: 720px) {
        transition: 1s all;
      }
    }
  }
  .staff__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: -100px;
    @media (max-width: 720px) {
      justify-content: center;
    }
    @media (max-width: $breakpoint480) {
      bottom: -150px;
    }
  }
  .box {
    position: relative;
    display: block;
    padding-right: 140px;
    @media (max-width: 1050px) {
      padding-right: 100px;
    }
    @media (max-width: $breakpoint992) {
      padding-right: 50px;
    }
    @media (max-width: 720px) {
      left: 0;
      padding-right: 0;
      margin-left: 53px;
    }
    &::before {
      content: "";
      position: absolute;
      left: -28px;
      top: -17px;
      width: 1px;
      height: 32px;
      background-color: #d0d3d4;
    }
  }
  .swiper-slide-prev {
    position: relative;
    left: 0;
  }
  .swiper-slide-next {
    position: relative;
    left: 150px;

    @media (max-width: $breakpoint1450) {
      left: 100px;
    }
    @media (max-width: 1250px) {
      left: 50px;
    }
  }
  .swiper-slide-active {
    width: 700px !important;
    position: relative;
    left: 125px;
    .staff__info {
      opacity: 1;
      @media (max-width: 720px) {
        transition: 0.7s all;
      }
    }

    @media (max-width: $breakpoint1450) {
      left: 50px;
    }
    @media (max-width: 1250px) {
      left: -50px;
    }
    @media (max-width: 800px) {
      left: -200px;
    }
    @media (max-width: 720px) {
      left: 0;
      width: inherit !important;
    }
    img {
      width: 700px !important;
      @media (max-width: $breakpoint1450) {
        width: 600px !important;
      }
      @media (max-width: 1250px) {
        width: 500px !important;
      }
      @media (max-width: 800px) {
        width: 400px !important;
      }
      @media (max-width: 720px) {
        display: flex;
        justify-content: center;
        transition: 1s all;
      }
      @media (max-width: $breakpoint480) {
        width: 300px !important;
      }
      @media (max-width: 360px) {
        width: 260px !important;
      }
    }
  }
  .swiper-line {
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
    background-color: #d0d3d4;
    &::after {
      content: "";
      position: absolute;
      top: -8.8px;
      left: 2px;
      width: 18px;
      height: 18px;
      background: #d0d3d4;
      border-radius: 5px;
      transform: rotate(45deg);
    }
  }
  .staff__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: #162629;
    @media (max-width: $breakpoint992) {
      font-size: 50px;
    }
    @media (max-width: $breakpoint480) {
      font-size: 42px;
    }
  }
  .staff__end {
    position: relative;
    top: -100px;
    @media (max-width: 720px) {
      top: -70px;
      // padding-left: 55px;
      gap: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .staff__btn {
    cursor: pointer;
    z-index: 10;
    position: relative;
    width: 198px;
    height: 56px;
    background: #56bb90;
    border-radius: 12px;
    transition: 0.2s all;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    @media (max-width: $breakpoint480) {
      height: 50px;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  .swiper-button-next {
    left: 0;
    transition: 0.2s all;
    &::after {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      background-image: url("../img/icons/arrow-right-line.svg");
    }
    &:hover {
      opacity: 0.7;
    }
  }

  .swiper-button-prev {
    left: -80px;
    transition: 0.2s all;

    &::after {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      background-image: url("../img/icons/arrow-left-line.svg");
    }
    &:hover {
      opacity: 0.7;
    }
  }

  .staff {
    // .staff__info
    &__info {
      width: 439px;
      text-align: start;
      position: absolute;
      bottom: 20px;
      left: 350px;
      padding: 48px;
      background: rgba(255, 255, 255, 0.95);
      box-shadow: 0px 9px 50px -12px rgba(86, 187, 144, 0.15);
      border-radius: 24px;
      @media (max-width: 1250px) {
        width: 400px;
        padding: 32px;
        left: 400px;
        bottom: 70px;
      }
      @media (max-width: 800px) {
        width: 350px;
        padding: 24px;
        left: 500px;
        bottom: 100px;
      }
      @media (max-width: 720px) {
        left: 50%;
        transform: translate(-50%);
        bottom: 120px;
        transition: 1s all;
      }
      @media (max-width: $breakpoint480) {
        width: 300px;
        padding: 16px 24px;
      }
      @media (max-width: 360px) {
        width: 290px;
        padding: 16px 20px;
      }
    }
    // .staff__info-title
    &__info-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #162629;
      padding-bottom: 4px;
      @media (max-width: $breakpoint480) {
        font-size: 18px;
      }
    }
    // .staff__info-descr
    &__info-descr {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #4b5355;
      padding-bottom: 16px;
      @media (max-width: 800px) {
        padding-bottom: 8px;
      }
      @media (max-width: $breakpoint480) {
        font-size: 14px;
      }
    }
    // .staff__info-descr-year
    &__info-descr-year {
      display: flex;
      flex-direction: row;
      gap: 12px;
      padding-bottom: 24px;
      @media (max-width: 800px) {
        padding-bottom: 12px;
      }
      span:last-child {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #162629;
      }
    }
    // .staff__info-btn
    a {
      border-radius: 12px;
    }
    &__info-btn {
      position: static;
      width: 169px;
      height: 56px;
      background-color: #eef8f4;
      color: #56bb90;
      &:hover {
        background-color: #56bb90;
        color: #eef8f4;
      }
      @media (max-width: $breakpoint480) {
        height: 48px;
      }
    }
  }
}
