.work {
  counter-reset: counter;
  padding: 180px 0 180px;

  @media (max-width: $breakpoint992) {
    padding: 30px 0 90px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      align-items: center;
    }

    &-img {
      height: max-content;

      @media (max-width: $breakpoint1450) {
        max-width: 480px;
        width: 100%;
      }
      @media (max-width: $breakpoint992) {
        margin-bottom: 50px;
      }
    }

    &-wrapper {
      @media (max-width: $breakpoint992) {
        max-width: 750px;
      }
    }

    &-title {
      @extend %title-h1;
      margin-bottom: 58px;
      margin-left: 135px;

      @media (max-width: $breakpoint1450) {
        margin-left: 50px;
      }
      @media (max-width: $breakpoint992) {
        text-align: center;
        margin-bottom: 40px;
        font-size: 50px;
        margin-left: 0;
      }
      @media (max-width: $breakpoint480) {
        font-size: 36px;
        margin-bottom: 30px;
      }
    }

    &-list {
      list-style: none;
      margin-left: 265px;

      @media (max-width: $breakpoint1450) {
        margin-left: 180px;
      }
      @media (max-width: $breakpoint768) {
        margin-left: 100px;
      }
      @media (max-width: $breakpoint480) {
        margin-left: 55px;
      }

      &-item {
        @extend %text;
        position: relative;
        margin-bottom: 35px;

        @media (max-width: $breakpoint480) {
          font-size: 12px;
          margin-bottom: 15px;
        }

        &:last-child {
          margin-bottom: 0;

          &::after {
            height: 0;
          }
        }

        &:nth-child(2),
        &:nth-child(3) {
          margin-bottom: 46px;

          @media (max-width: $breakpoint480) {
            margin-bottom: 15px;
          }
        }

        &::before {
          counter-increment: counter;
          content: counter(counter);
          position: absolute;
          top: 50%;
          left: -154px;
          transform: translateY(-50%);
          width: 130px;
          height: 130px;
          background-image: url("../img/icons/rectangle.svg");
          background-position: center;
          background-repeat: no-repeat;
          font-weight: 700;
          font-size: 32px;
          line-height: 120%;
          color: $color-green;
          z-index: 10;
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: $breakpoint768) {
            left: -100px;
            background-size: 100px;
            font-size: 30px;
            width: 100px;
            height: 100px;
            line-height: 0;
          }
          @media (max-width: $breakpoint480) {
            left: -75px;
            background-size: 80px;
            font-size: 22px;
            width: 80px;
            height: 80px;
            top: 0;
            transform: none;
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 65%;
          left: -89px;
          width: 1px;
          height: 100%;
          background-color: $color-green;

          @media (max-width: $breakpoint768) {
            left: -50px;
          }
          @media (max-width: $breakpoint480) {
            left: -35px;
            top: 46%;
          }
        }
      }
    }
  }
}
