.certificates {
  padding: 180px 0 170px;
  background-color: #f9fafb;
  overflow: hidden;

  @media (max-width: $breakpoint768) {
    padding: 90px 0 90px;
  }

  &__title {
    @extend %title-h1;
    margin-bottom: 52px;
    @media (max-width: $breakpoint992) {
      font-size: 50px;
    }
    @media (max-width: 580px) {
      text-align: center;
    }
    @media (max-width: $breakpoint480) {
      font-size: 36px;
    }
  }
  &__inner {
    &-slide {
      @media (max-width: $breakpoint768) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        cursor: pointer;
        @media (max-width: 1100px) {
          max-width: 310px;
        }
        @media (max-width: $breakpoint768) {
          max-width: 260px;
        }
      }
    }
  }

  .swiper {
    overflow: visible;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: unset;
    bottom: -100px;
  }
  .box {
    position: absolute;
    right: 30px;
    &::before {
      content: "";
      position: absolute;
      left: -28px;
      top: -39px;
      width: 1px;
      height: 32px;
      background-color: #d0d3d4;
    }
    @media (max-width: $breakpoint1450) {
      right: 40px;
    }
    @media (max-width: 1100px) {
      right: 50px;
    }
    @media (max-width: $breakpoint992) {
      display: none;
    }
  }
  .swiper-button-next {
    left: 0;
    &::after {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      background-image: url("../img/icons/arrow-right-line.svg");
    }
  }
  .swiper-button-prev {
    left: -80px;
    &::after {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      background-image: url("../img/icons/arrow-left-line.svg");
    }
  }
  .swiper-scrollbar {
    bottom: -80px !important;
    cursor: pointer;
    max-width: 1200px;
    height: 8px !important;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 3px;
    @media (max-width: $breakpoint1450) {
      max-width: 850px;
    }
    @media (max-width: 1160px) {
      max-width: 760px;
    }
    @media (max-width: $breakpoint992) {
      max-width: 100%;
    }
    @media (max-width: $breakpoint768) {
      bottom: -48px !important;
    }
    &-drag {
      margin: 0 !important;
      border-radius: 3px;
      width: 100%;
      height: 8px;
      background-color: $color-green;
      &:active {
        opacity: 0.5;
      }
    }
  }
}

.img-open {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.97);
  .container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    display: block;
    height: 90%;
    @media (max-width: $breakpoint768) {
      height: 70%;
    }
    @media (max-width: $breakpoint480) {
      height: auto;
      width: 100%;
    }
  }
  svg {
    position: absolute;
    cursor: pointer;
    top: 50px;
    right: 25px;
    width: 50px;
    path {
      fill: white;
    }
    @media (max-width: $breakpoint992) {
      top: 20px;
    }
  }
}
