// Footer
footer {
  display: block;
  background-color: #162629;
  .footer {
    display: grid;
    justify-content: center;
    padding: 88px 0 100px 0;
    grid-gap: 0 24px;
    grid-auto-columns: calc(25% - 24px);
    grid-auto-flow: column;
    @media (max-width: 1240px) {
      grid-auto-columns: calc(45% - 24px);
      grid-gap: 36px 24px;
      justify-content: space-evenly;
      @media (max-width: 655px) {
        grid-auto-columns: 100%;
      }
    }
    &__date,
    &__service {
      @media (max-width: 1240px) {
        grid-column: 1/2;
      }
    }
    &__relative,
    &__contact {
      @media (max-width: 1240px) {
        grid-column: 2/2;
      }
    }
    &__data,
    &__category {
      @media (max-width: 655px) {
        grid-column: 1/1;
      }
    }
    // .footer__data
    &__data {
      display: flex;
      flex-direction: column;
      gap: 22px;
      @media (max-width: $breakpoint992) {
        gap: 16px;
      }
      @media (max-width: 550px) {
        gap: 8px;
      }
    }
    // .footer__date-item
    &__date-item {
      display: flex;
      flex-direction: column;
      gap: 3px;
    }
    // .footer__date-item-title
    &__date-item-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #4b5355;
      @media (max-width: 550px) {
        font-size: 18px;
      }
    }
    // .footer__date-item-info
    &__date-item-info {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #a2a8a9;
    }
    &__category {
      display: flex;
      flex-direction: column;
      gap: 16px;
      @media (max-width: $breakpoint992) {
        gap: 12px;
      }
      @media (max-width: 550px) {
        gap: 6px;
      }
    }
    &__title {
      padding-bottom: 12px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #a2a8a9;
      @media (max-width: 550px) {
        font-size: 22px;
      }
    }
    &__link {
      a {
        white-space: nowrap;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #a2a8a9;
        transition: all 0.2s;
        &:hover {
          color: #fff;
        }
      }
      &:hover {
        svg path {
          fill: #fff;
        }
      }
      svg {
        path {
          transition: all 0.2s;
        }
      }
      @media (max-width: 550px) {
        font-size: 16px;
      }
    }
    // .footer__contact-info
    &__contact-info:nth-child(3) {
      padding-bottom: 12px;
    }
    // .footer__end
    &__end {
      display: flex;
      gap: 24px;
      padding-bottom: 4px;
      @media (max-width: 550px) {
        flex-direction: column;
        text-align: center;
        gap: 4px;
        padding-bottom: 12px;
        &-dot {
          display: none;
        }
      }
    }
    &__end-link {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #a2a8a9;
      img {
        width: 18px;
        height: 18px;
      }
      span {
        white-space: nowrap;
        @media (max-width: 655px) {
          white-space: normal;
        }
      }
    }
    // .footer__end-item
    &__end-item,
    &__end-item a {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      color: #a2a8a9;
      transition: 0.2s all;
    }
    &__end-item a:hover {
      color: #fff;
    }
  }
}
