.top {
  background-color: #f9fafb;
  @media (max-width: $breakpoint992) {
    padding-top: 100px !important;
  }
  &__block {
    background-image: url(../img/top-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    @media (max-width: $breakpoint992) {
      background-image: url(../img/top-bg-fixed-opacity.png);
      background-position: 100% 60%;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    padding-top: 178px;
    padding-bottom: 213px;
    @media (max-width: 1800px) {
      padding-top: 170px;
      padding-bottom: 170px;
    }
    @media (max-width: 1700px) {
      padding-top: 150px;
      padding-bottom: 150px;
    }
    @media (max-width: 1600px) {
      padding-top: 130px;
      padding-bottom: 130px;
    }
    @media (max-width: $breakpoint1450) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @media (max-width: 1300px) {
      padding-top: 75px;
      padding-bottom: 75px;
    }
    @media (max-width: 1200px) {
      padding-top: 60px;
      padding-bottom: 20px;
    }
    @media (max-width: $breakpoint992) {
      padding-top: 20px;
      padding-bottom: 100px;
    }
  }
  &__title {
    @extend %title-h1;
    margin-bottom: 24px;
    @media (max-width: $breakpoint992) {
      font-size: 50px;
      margin-bottom: 20px;
    }
    @media (max-width: $breakpoint480) {
      font-size: 36px;
      margin-bottom: 10px;
    }
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #162629;
    margin-bottom: 40px;
    @media (max-width: $breakpoint992) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  &__btn {
    font-family: "Rubik";
    font-weight: 500;
    @extend %text;
    color: #fff;
    background-color: #56bb90;
    border-radius: 12px;
    padding: 16px 40px;
    max-width: 170px;
    @media (max-width: $breakpoint992) {
      padding: 10px 35px;
      max-width: 150px;
    }
  }
  .swiper-pagination-bullet {
    position: relative;
    bottom: 17px;
    width: 8px;
    height: 8px;
    background: transparent;
    border-radius: 6px;
    border: 2px solid #fff;
    opacity: 1;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    @media (max-width: $breakpoint992) {
      border: 1px solid #56bb90;
      margin-right: 6px !important;
      width: 10px;
      height: 10px;
      bottom: 30px;
    }
    &-active {
      width: 24px !important;
      background-color: #fff;
      @media (max-width: $breakpoint992) {
        background-color: #56bb90;
      }
    }
  }
}
