// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1400;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

// Fonts
$fontMain: sans-serif;
$fontSecondary: '';

$color-green: #56bb90;
$color-white: #f9fafb;
$color-black: #162629;
$color-grey-darker: #4b5355;
$color-grey: #a2a8a9;
$color-grey-lighter: #d0d3d4;

%title-h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: $color-black;
}

%title-h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: $color-black;
}

%title-h3 {
  font-size: 40px;
  line-height: 120%;
}

%title-h4 {
  font-size: 32px;
  line-height: 120%;
  color: $color-black;
}

%title-h5 {
  font-size: 24px;
  line-height: 120%;
  color: $color-black;
}

%title-h6 {
  font-size: 20px;
  line-height: 120%;
}

%text {
  font-size: 16px;
  line-height: 24px;
  color: $color-grey-darker;
}

%small-text {
  font-size: 14px;
  line-height: 18px;
  color: $color-grey;
}

%cards-shadow {
  background: #c4c4c4;
  box-shadow: 0px 4px 41px -21px rgba(86, 187, 144, 0.59);
}

